* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.floorplan- {
    &editor {
        position: relative;
        width: 100dvw;
        height: 100dvh;
        display: flex;

        & .wall-point-handle {
            transition: all .2s ease;

            &:hover {
                transform: scale(2);
            }
        }
    }

    &sidebar {
        flex-basis: 250px;
    }

    &canvas {
        flex: 1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #f5f2d4;
        user-select: none;

        & svg {
            position: relative;
            fill: transparent;
            background: transparent;
            z-index: 9;
        }

        & .grid-canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}

.action-button {
    padding: 6px 12px;
    border-radius: 6px;
    background: #262626;
    color: #eaeaea;
    cursor: pointer;
    transition: 0.12s ease;
    outline: none;
    border: none;

    &:hover {
        background: #333;
    }

    &.is-active {
        background: #007aff;
        color: white;
    }

    &.is-disabled {
        opacity: .5;
        cursor: not-allowed;
        pointer-events: none;
    }
}



.animate-breath {
    --breath-duration: 1.6s;
    --breath-scale: 1.5;
    --breath-opacity: 0.85;

    animation: breath var(--breath-duration) ease-in-out infinite;
    transform-box: fill-box;
    transform-origin: center;
}

@keyframes breath {
  0%   { scale: 1; }
  50%  { scale: var(--breath-scale); opacity: var(--breath-opacity);}
  100% { scale: 1; }
}

/* accessibility: respect user motion preference */
@media (prefers-reduced-motion: reduce) {
    .animate-breath {
        animation: none;
    }
}