* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.floorplan- {
    &editor {
        position: relative;
        width: 100dvw;
        height: 100dvh;
        display: flex;

        & .wall-point-handle {
            transition: all .2s ease;
            &:hover {
                transform: scale(2);
            }
        }
    }

    &sidebar {
        flex-basis: 250px;
    }

    &canvas {
        flex: 1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #f5f2d4;
        & svg {
            position: relative;
            fill: transparent;
            background: transparent;
            z-index: 9;
        }
        & .grid-canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}

.action-button {
    padding: 6px 12px;
    border-radius: 6px;
    background: #262626;
    color: #eaeaea;
    cursor: pointer;
    transition: 0.12s ease;
    outline: none;
    border: none;

    &:hover {
        background: #333;
    }

    &.is-active {
        background: #007aff;
        color: white;
    }

    &.is-disabled {
        opacity: .5;
        cursor: not-allowed;
        pointer-events: none;
    }
}